header {
	width: 100%;
	padding: 12em 2em 1.5em $left-column-width;

	background-color: #0096FF;

	h1 {
		margin: 0;

		font-size: 3em;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 1000px) {
	header {
		padding: 8em 2em 1.5em;
		text-align: center;
	}
}
